{% extends 'template.html.twig' %}

{% block body %}

	<h1>Home</h1>

	<table class="table table-striped table-dark">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Categories</th>
				<th>Auteur</th>
				<th>Detail</th>
			</tr>
		</thead>
		<tbody>
			{% for wish in wish_lst %}
				<tr>
					<td>{{ wish.title }}</td>
					<td>{{ wish.categ.name }}</td>
					<td>{{ wish.user.full() }}</td>
					<td>
						<a class="btn btn-warning btn-sm" href="{{path('main_details',{id:wish.id})}}"><i class="fas fa-caret-down"></i></a>
					</td>
				</tr>
				<tr>
					{% if wish_detail is defined %}
						{% if wish.id == wish_detail%}
                            {% if wish.description != null %}
                                <td colspan="4">{{ wish.description }}</td>
                            {% endif %}
						{% endif %}
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
