{% extends 'template.html.twig' %}

{% block body %}

    <ul>
        {% for wish in wish_lst %}
            <li>{{ wish.title }} <a href="{{path('wish_modif_admin', {id:wish.id})}}">Modifier</a> <a href="{{path('wish_delete_admin',{id:wish.id})}}">Delete</a></li>
        {% endfor %}
    </ul>


    <a href="{{ path('wish_add_admin')}}">Ajouter</a>

    <hr>

    <div class="col-4">
        <form action="{{path('wish_quick_add_admin')}}" method="POST">

            <input class="form-control" type="text" name="title" placeholder="Titre"/>

            <button type="submit" class="btn btn-warning mt-2">Ajout rapide</button>

        </form>
    </div>
   
{% endblock %}
