{% extends 'template.html.twig' %}

{% block body %}

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Categories</th>
                <th>Auteur</th>
                <th>Modif</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for wish in wish_lst %}
                <tr>
                    <td>
                        {{ wish.title }}
                    </td>
                    <td>
                        {{ wish.categ.name }}
                    </td>
                    <td>
                        {{ wish.user.full() }}
                    </td>
                    <td>
                        <a class="btn btn-outline-warning btn-sm" href="{{path('wish_modif_admin', {id:wish.id})}}"><i class="fas fa-pen"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="{{path('wish_delete_admin',{id:wish.id})}}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wish_add_admin')}}">Ajouter</a>

    <hr>

    <div class="col-4">
        <form action="{{path('wish_quick_add_admin')}}" method="POST">

            <input class="form-control" type="text" name="title" placeholder="Titre"/>

            <button type="submit" class="btn btn-warning mt-2">Ajout rapide</button>

        </form>
    </div>
   
{% endblock %}
